body {
 width: fit-content;
 width: -webkit-fit-content;
 margin: auto;
}

h1 {
	border-bottom: medium solid;
	border-bottom-color: inherit;
	padding-bottom: 0.3em;
}

h1, h2 {
 text-align: center;
}

ol {
 list-style-type: none;
 width: fit-content;
 width: -webkit-fit-content;
 margin-left: auto;
 margin-right: auto;
 margin-top: 0;
 padding-left: 0;
 border-bottom-color: inherit;
}

ul {
 list-style-type: disc;
 width: fit-content;
 width: -webkit-fit-content;
 padding-left: 2ch;
}